.Card {
    height: 100vh;
    background: -webkit-linear-gradient(to right, hsla(147, 45%, 55%), hsl(148, 69%, 83%));
    background: linear-gradient(to right, hsla(147, 45%, 55%), hsl(148, 69%, 83%))

}

.card, .card * {
    box-sizing: border-box;
}

.card:hover {
    border: 1px solid rgb(254, 254, 254);
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
    transition: all 0.7s linear;
}

.card .categoria{
    position: absolute;
    top: 8px;
    right: 8px;
    background: #14213d;
    color: #fff;
    padding: 2px 16px;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 10px;
    font-family: "Roboto";
}

.card-body {
    padding: rem 0 !important;
    font-family: "Roboto";
}

.card-text {
    padding: 0.3rem 1 rem;
    font-size: 1rem;
}

.overflow {
    overflow: hidden;
}

.card-img-top {
    height: 30vh;
    padding: 20px -5px -2px -5px;
}

.style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    border: 2px solid #000;
    box-shadow: 24;
}