.navbar {
    background-color: #445054;
    position: sticky !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    font-family: "roboto";


}


.container-fluid .logo {
    margin-right: 30px;

}

.nav-link{
    background: rgba(255, 255, 255, 0);
    border: none;
}

.nav-link:hover {
    background-color: #81888a;
    border-radius: 5px;
    color: white !important;

}

.collapse .navbar-collapse {
    width: 20px;
}